.event_bar {
  display: grid;
  grid-template-rows: 250px 250px;
  grid-template-columns: 550px 350px 350px;
}

.event_bar img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.event_bar__type {
  font-weight: 200;
  font-size: 16px;
  margin-bottom: 20px;
}

.event_bar__text {
  color: white;
}

.event_bar__title {
  font-size: 45px;
  font-weight: 650;
  margin-bottom: 15px;
}

.event_bar__intro {
  font-size: 18px;
  font-weight: 500;
}

.event_bar__event1 {
  grid-row-start: 1;
  grid-row-end: 4;
}

.event_bar__event1__text {
  position: relative;
  top: -470px;
  left: 40px;
}

.event_bar__event2 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.event_bar__event2__text {
  position: relative;
  top: -220px;
  left: 30px;
}

.event_bar__event4 {
  background-color: yellow;
}
