.footer {
  height: 450px;
  width: 100%;
  background-color: black;
  margin-top: 180px;
}

.footer__up {
  display: flex;
  height: 120px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__menu__ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 620px;
}

.footer__menu__link {
  text-decoration: none;
  color: white;
  font-size: 13px;
}
