.review {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin-left: 80px;
  margin-top: 25px;
}

.review__text div:not(.review__title) {
  font-family: "Gothic A1", sans-serif;
}

.review__title {
  font-size: 25px;
  margin: 10px 0;
  font-weight: 700;
}

.review__sub_title {
  font-size: 15px;
  margin: 10px 0;
}

.review__name {
  color: rgb(88, 88, 88);
  margin: 10px 0;
}

.review__content {
  line-height: 130%;
  background: linear-gradient(
    to bottom,
    rgba(33, 33, 33, 1),
    rgba(44, 44, 44, 0.6) 74%,
    rgba(44, 44, 44, 0.2) 75%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin: 20px 0;
}

.review__img {
  width: 300px;
  height: 290px;
  border-radius: 10px;
}

.review__order {
  text-align: right;
  margin: 10px 10px;
  position: relative;
  bottom: 40px;
  color: white;
}
