.top {
  height: 100px;
  width: 100%;
  background-color: black;
  display: flex;
}

.top__logo {
  font-weight: 900;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 35px;
  margin-right: 160px;
}

.top__logo__link {
  text-decoration: none;
  color: white;
}

.top__menu__li {
  margin-right: 5px;
}

.top__menu__ul {
  display: flex;
  list-style: none;
}

.top__menu__li {
  padding: 41px;
  width: 75px;
  font-size: 14px;
}

.top__menu__link {
  text-decoration: none;
  color: white;
}

.top__icon {
  margin: 10px 10px;
  padding: 31px 5px;
}

.top__menu__sub {
  width: 150px;
  background-color: #333333;
  color: #676e7d;
  position: relative;
  top: 26px;
  right: 47px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

.top__menu__sub__link {
  text-decoration: none;
  line-height: 35px;
  text-align: center;
}

.top__menu__li:nth-of-type(1):hover .top__menu__sub,
.top__menu__li:nth-of-type(4):hover .top__menu__sub {
  opacity: 1;
  transform: translateY(18px);
}
